 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Zhanwei</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/evaluate/view">已评价</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="/evaluate/index">去评价</a>
                </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    用户中心
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    
                    {{#if user}}
                        <a class="dropdown-item"  href="/logout">退出</a>
                    {{else}}
                         <a class="dropdown-item" href="/login">登录</a>
                         <a class="dropdown-item" href="/register">注册</a>
                    {{/if}}
                    </div>
                  </li>
                </ul>
        </div>
        </nav>